body {
  margin: 0;
  font-family: 'Baloo Paaji 2', cursive !important;
  font-size: 1.3rem !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(36,33,0,1) 0%, rgba(213,234,228,1) 0%, rgba(224,255,0,0) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
